h2{
    color: red ;
    background-color:yellow;
   
}

.fruits{
    color: green;
    background-color: azure;
}

.veg{
    color: green;
    background-color: antiquewhite;
}

#one{
    color: purple;
}