/* h1 {
    color:red;
    background-color: yellow;
}

p{
    color:purple;
    background-color: black;
    width:250px;
    height: 250px;

} */

h1 {
    color: white;
    background-color: black;
}

p{
    color: red;
    background-color: aqua;
    width: 250px;
    height: 250px;
}